.parent {
  margin-top: 50px;
  display: flex;
  align-content: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 888px;
}

.list-group-item {
  display: flex;
}

.input-group {
  margin-left: 75%;
}
