.btn-color{
    background-color: #8592ac;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #0e1115;
  }
  
  a{
    text-decoration: none;
  }